*.ad1 filter=lfs diff=lfs merge=lfs -text
challenges/forensics/ABCs[[:space:]]Had[[:space:]]Enough/dist/AliceComputer.ad1 filter=lfs diff=lfs merge=lfs -text
challenges/forensics/ABCs[[:space:]]Had[[:space:]]Enough/dist/AliceComputer.E01 filter=lfs diff=lfs merge=lfs -text
